<%- include('includes/admin_header'); -%>

<%- include('includes/left_nav'); -%>
    



  


<div class="conatiner">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4   ">
           <h1 class="bg-primary text-white">
            Add Banner
           </h1>

            <form action="/add_banner" method="post" id="add-form" enctype="multipart/form-data">

               
          
                <div class="form-group">
                  <label for="brand">Banner Image</label>
                  <input type="file" class="form-control" id="brand" multiple name="image">
                </div>
               

               
               
                
                <button type="submit" class="btn btn-primary d-grid mt-5">Submit</button>
              </form>
        </div>
    </div>
</div>

<script>
  setTimeout(() => {

    document.getElementById('msg').style.display='none'
    
  }, 3000);
</script>

</body>
</html>