<%- include('includes/header'); -%>

<body>

    <!-- Start Header Area -->
	
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row ">
                        <div class="col-md-12"> 
                              <div class = "main">
                                  <div class="row padder"> 
                                      <div class="col-md-9"> 
                                          <h1> Your Paypal Payment was: <%= payment.state %></h1>
                                          <h2> Payment Id: <%= payment.id %> </h2> 
                                          <hr>
                                         
                                          <hr> 
                                          <a href="/shop"> 
                                          <button class="btn btn-warning btn-lg"> Contune Shopping </button> 
                                          </a> 
                                      </div> 
                                  </div> 
                               </div>
                        </div> 
                   </div>
            </div>
        </div>
    </section>
   
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->

    <!-- End footer Area -->


    <%- include('includes/footer'); -%>